	body {
		/* setting a background color for the page */
		
		background-image: url(./res/background1.jpg);
		background-repeat: repeat;
		margin: 10%;
		font-family: sans-serif;
		text-align: justify;
	}
	h1 {
		/* change font types and sizes for heading 1 */
		margin: 5%;
		font-family: sans-serif;
		font-size: 20;
		text-shadow: 2px 2px 4px #000000;
	}
	h2 {
		/* change the font types and size for heading 2 */
		font-family: sans-serif;
		font-size: 14;
		border-color: 	#000000;
		border-top-width: 1px;
		border-top-style: solid;
	}
	p {
		/* adjust paragraph style properties */
		margin: 5%;
		font-family: sans-serif;
		font-size: 14px;
		background-color: #9999A1;
		padding: 10px;
		border-radius: 25px;
		border-style: solid;
		box-shadow: 10px 10px 50px;
	}
	blockquote {
		/* adjust the block quote style and properties */
	    display: block;
	    margin-top: 10px;
	    margin-bottom: 1px;
	    margin-left: 50px;
	    margin-right: 50px;
	    color: #CCCC00;
	    font-style: italic;
	    text-align: center;
	    font-size: 12px;
	}
	ol {
		font-style: bold;
		margin-left: 10%;
	}

	nav {
		font-style: bold;
		color: #ffffff;
		text-align: center; 
		margin: 1%;
		padding: 10px;
		background-color: #000014;
		border-color: 	#ffffff;
		border-style: solid;
		border-radius: 5px 5px;	
		float: right;
	}

	a:link {
		color: #ffffff;
	}

	img {
		border-color: #000000;
		border-style: solid;
		border-width: 3px;
		margin: 10px;
		float: left;
	}

	.primaryContent { /* this class is used to encase the main content of the page so that it stands out from the background*/
		margin: 10%;
		background-color: #257899;
		padding: 10px;
		border-radius: 15px 50px;
		border-style: solid;
	}
	

	div.galleryImg { /*This division class defines the container for any gallery items with a thumbnail*/
	    margin: 40px;
	    padding: 10px;
	    border-radius: 10px;
	    height: auto;
	    width: auto;
	    float: left;
	    text-align: center;
	    background-color: #257899;
	}

	div.galleryDesc {/*this is needed to define how the caption is placed under the thumbnail of the image*/
	    text-align: center;
	    font-weight: normal;
	    width: 120px;
	    margin: 5px;
	}
